@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400&family=Pacifico&family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahianita&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap");




@import "tailwindcss";

:root {
  --time: 8.15s;
  --delay: 2.25s;
  --ease: ease-in-out;
}

/* Animation CSS starts here */
.shape-svg {
   max-width:260px;
    overflow:visible;
    transform:scale(.7);

}


@theme {
  --font-sekuya: "Sekuya", sans-serif;
  --font-bahianita: "Bahianita", cursive;
  --font-orbitron: "Orbitron", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-oswald: "Oswald", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-anton: "Anton", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-pacifico: "Pacifico", cursive;
   --font-bigshot: "Bigshot One", cursive;
  --font-bitcount: "Bitcount Prop Single", sans-serif;
  --font-libertinus: "Libertinus Math", serif;
  --font-edu: "Edu VIC WA NT Hand", cursive;
  --font-archivo: "Archivo Black", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-blackops: "Black Ops One", cursive;
  --font-germania: "Germania One", cursive;
  --font-griffy: "Griffy", cursive;
  --font-lobster2: "Lobster Two", cursive;
  --font-dancing: "Dancing Script", cursive;
  --font-lobster: "Lobster", cursive;
  --font-teko: "Teko", sans-serif;
  --font-gravitas: "Gravitas One", serif;
  --font-bree: "Bree Serif", serif;
  --font-stalinist: "Stalinist One", cursive;
}


@font-face {
  font-family: "Bahianita";
  src: url("./assets/fonts/Bahianita-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


.btn-island{



cursor:pointer;

transition:
transform .25s ease,
box-shadow .25s ease,
padding .25s ease;

}

.btn-island:hover{

transform:translateY(-6px);

padding:14px 44px;

}

.btn-island:active{

transform:translateY(-1px) scale(.95);

}

.bn31 {
  background-image: linear-gradient(to right, #6f00ff 30%, #ff2929 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #0072a3;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 2px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}


.gradientclass {

  

  background-image: linear-gradient(to right, #6f00ff 30%, #ff2929 31%, #eb12ca 100%);
}
.gradientclass2 {

  

  background-image: linear-gradient(to right, #565656 0%, #060606 100%);
}


.shdw{


  box-shadow: 8px 15px 13px rgba(0, 0, 0, 0.550);
}
.shdw2{


  box-shadow: 10px 7px 13px rgba(0, 0, 0, 0.560);
}
.shdw3{


  box-shadow: -10px 12px 13px  rgba(0, 0, 0, 0.560);
}

.bordergradientclass {
  border-radius: 32px;
  padding: 2px;
  background:
    linear-gradient(to top ,#00000034, #000000) padding-box,
    linear-gradient(to bottom, #8328f9 30%, #23ee34 100%) border-box;

  border: 2px solid transparent;
}




.gradient-hover-btn {
  background: linear-gradient(45deg, #7c3aed, #ec4899);
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  background-size: 200% 200%;
}

.gradient-hover-btn:hover {
  background-position: right center;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(236, 72, 153, 0.4);
}



.bargradient{

  background:
    linear-gradient(to left ,#00000034, #000000) padding-box,
    linear-gradient(to right, #8328f9 30%, #23ee34 100%) border-box;
  
}




.shimmer-text {
  font-size: 80px;
  font-weight: bold;

  background: linear-gradient(
    120deg,
    #e70a0a 0%,
    #ffffff 40%,
    #00ffff 50%,
    #ffffff 60%,
    #ffffff 100%
  );

  background-size: 200% auto;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  animation: shimmer 3s linear infinite;
}


@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}


.gradient-text {
  font-size: 40px;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    #22c55e,
    #06b6d4,
    #3b82f6,
    #6505bf,
    #e6cf00,
    #eb3503,
    #ec4899,
    #fd0ded
  );

  background-size: 300% 300%;

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.gradient-text2 { 
  font-size: 40px;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    #7504f7,
    #dc19c2,
    #FF0099,
    #f99c1a,
    #FF8038,
    #f72505,
    #c109ce,
    #5803b9
  );

  background-size: 300% 300%;

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  animation: gradientMove 20s ease infinite;
}
.gradient-text3 { 
  font-size: 60px;
  font-weight: 1000;
  bottom: 5px;
  position: relative;

  background: linear-gradient(
    120deg,  
    #0f599a,
    #14c5aa,
    #0a6fc8,
    #0dc560,
    #3f2eae,
    #13e76f,
    #6816db,
    #340298
  );

  background-size: 300% 300%;

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  animation: gradientMove 30s ease infinite;
}




.gradientclassforRightbox{


  background:
    linear-gradient(to top ,#00000034, #000000) padding-box,
    linear-gradient(to bottom, #8328f9 30%, #23ee34 100%) border-box;


}


.rightboxBorderGradeint {


  
    
   
  border: 2px solid transparent;
}

.stalinist-one-regular {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.button-wrapper {
  position: relative;
  display: inline-block;
}

.button {
  display: block;
  font-size: 50px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 32px;
  /* background:
    linear-gradient(to right,#6B2C91, #1A1A3E) padding-box; */

    background: rgb(231, 231, 231);
    

  color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}


button:hover{

 background:
    linear-gradient(to right,#FF0099, #FF8038) padding-box;
  color:black;
}

.button-bg {
  
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    90deg,
    #FF8038 0%,
    #FF0099 30.43%,
    #00EBEB 68.23%,
    #DB00FF 100%
  );
  background-size: 600% 600%;
  border-radius: 50px;
  animation: AnimateBorder 4s ease infinite;
  z-index: 1;
  transform: translate(-2px, -2px);
  transition: filter .4s ease-in;
}

.button-wrapper:hover .button-bg {
  filter: blur(14px);
}

@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} 



.backimage{


  background: url("frontend/src/assets/763992746_2428753097617535_4454437692188539522_n.webp");
 
}

